---
/**
 * 「時間」で選ぶ父の日の贈り物
 */
import TimeSceneCard from '../components/TimeSceneCard.astro';
import { getCollection } from 'astro:content';
import { publicAssetPath } from '../utils/assets';

const tsEntries = await getCollection('timeSceneProducts');
const timeSceneProducts = tsEntries.map((e) => e.data);
---

<section
  id='hyocha'
  class='l-section l-section--bg-base p-time-scene'
  aria-labelledby='heading-time-scene'
  style={`--time-scene-ribbon-bg: url("${publicAssetPath('/ribon_bg.svg')}")`}
>
  <div class='l-container'>
    <!-- ヘッダー -->
    <header class='p-time-scene__header'>
      <span class='p-time-scene__badge'>夏の定番 水出しでひんやり</span>
      <h2 id='heading-time-scene' class='p-time-scene__title'>
        <span class='p-time-scene__title-main'>森半の氷茶</span>
        <span class='p-time-scene__title-en'>MORIHAN HYOCHA</span>
      </h2>
    </header>

    <!-- リスト -->
    <ul class='p-time-scene__list'>
      {
        timeSceneProducts.map((product) => (
          <li class='p-time-scene__item' data-id={product.id}>
            <TimeSceneCard
              name={product.name}
              price={product.price}
              description={product.description}
              href={product.href}
              mainImage={product.image}
            />
          </li>
        ))
      }
    </ul>
  </div>
</section>
